/* === COMMON START ===*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); 

*, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em 0;
}

html, body {
    overflow-x: hidden;
}

body {
    font-size: 1rem;
}

/* === COMMON END ===*/

/* === HEADER START ===*/
.header__size {
    content: '';
    height: 10em;
}
/* === HEADER END ===*/

/* === ACCORDIN START ===*/
.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    max-width: 50em;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    margin: auto;
    cursor: pointer;
    color: #0059D9;
    font-weight: 700;
    font-size: 1.3em;
}

.accordion__item {
    display: flex;
    align-items: center;
    width: 95%;
    flex-direction: column;
    margin-bottom: 1em;
}

input {
    display: none;
}

input:checked~.acc-body {
    height: 100%;
    opacity: 1;
    transition: all 1s ease;
}

input:checked~.heading {
    color: black;
}

input:checked ~.heading>.icon {
    rotate: 180deg;
    opacity: 1;
}

.heading {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    border-top: .1em solid rgba(128, 128, 128, 0.3);
    padding-top: .5em;
}

.icon {
    background: url(../img/arrow-to-top-svgrepo-com.svg) 0 0/100% 100% no-repeat;
    width: 1em;
    height: 1em;
    opacity: 0;
    transition: all ease .8s;
    fill: #0059D9;
}

.heading:hover {
    color: black;
}

.heading:hover~.acc-body {
    height: 100%;
    color: black;
    opacity: 1;
}

.heading:hover .icon {
    rotate: 180deg;
    opacity: 1;
    transition: all ease .8s;
    cursor: pointer;
}

.acc-body {
    width: 100%;
    padding-top: 1em;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    opacity: 0;
}

img {
    width: 90%;
}

.heading:hover~.acc-body {
    opacity: 1;
    width: 100%;
}

.heading:hover~.acc-body>img {
    transition: all .6s;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 340px) {
    body {
        font-size: 80%;
    }
  }

@media (min-width: 820px) and (max-width: 850px) {
    body {
        font-size: 90%;
    }
  }
/* === ACCORDIN END ===*/

/* === FOOTER START ===*/
.footer {
    content: '';
    height: 10em;
}
/* === FOOTER END ===*/